body {
  background-color: white;
}
h1 {
  color: darkgrey;
  text-align: center;
}
h2 {
  color: mediumgrey;
  text-align: center;
}
/* Add styles for the pop-out menu */
.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #223D6E;
  color: white;
}
.menu-item {
  display: block;
  margin: 10px;
  /* Add styles for the menu buttons */
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-item:hover {
  background-color: grey;
}
/* Add styles for the toggle button */
.menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
}
.menu-toggle:hover {
  background-color: lightgrey;
}
