.site-title {
  position: relative;
  top: 20px;
  text-align: center;
  color: darkgrey;
  font-family: sans-serif;
}

.site-description {
  text-align: center;
  color: lightgrey;
  font-family: sans-serif;
}

.popout-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  overflow: auto;
}

.menu-items {
  position: relative;
  top: 25%;
}

.menu-item {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.menu-toggle-button {
  position: fixed;
  top: 0;
  left: 0;
}

.menu-open {
  display: block;
}
